

<div class="container">
    <h3 class="section-heading text-center "> Get in Touch</h3>
    <div class="row contact-section">
        <div class="col-md-2 image">
            <img src="/images/profile.jpg " alt="Profile Image" class="rounded-circle mx-auto d-block img-fluid profile-pic ">
            <p class="text-center padding-top-5">Priyans</p>
        </div>

        <div class="col-md-10">
            <p class="text-justify description ">
                Hi everyone! I am always looking forward to talk to people about anything and everything. I am involved in many activities relating to Computer Science Education at Berkeley. In addition, I will be beginning research in Machine Learning and Programming Systems in Fall 2020 with EECS Prof. Koushik Sen and an EECS Department graduate student Rohan Bavishi. I have also co-founded certain initiatives such as Bear Advising for creating a seamless platform between upperclassmen and freshmen students to clear their doubts as well as introducing the popular US CS curriculum BJC (Beauty & Joy of Computing) to Indian High Schools, by partnering with Berkeley Professor Dan Garcia. 

                <br>

                With these, I love building software that helps students and others in the community. My perspective on Computer Science has always been that it is an exercise of creativity to solve the most complex problems. 

                <br>

                Feel free to reach out to me about anything! I am always happy to help. 
                
                <strong> Cheers ! </strong></p>

            <p class="text-left info">Drop me line at <span class="theme-color"> <a href="mailto: priyansdesai@berkeley.edu">priyansdesai@berkeley.edu</a> </span> or call me at <span class="theme-color"> 0 9999 333 582 </span></p>
            <div class="social-media">
                {% include social.html social= site.data.profile.social %}
            </div>

        </div>

    </div>



</div>