<div class="container text-sm-center">
    <div  class="course">
        <h3 class="text-sm-center section-heading"> Education </h3>
        <h3 class="theme-color "> Bachelor of Arts</h3>
        <h4>Computer Science <strong class="theme-color"> & </strong> Data Science </h4>
    </div>
    <div class="university">
        <h3 class="university theme-color">
            <i class="fa fa-university"> </i>
        </h3>
        <h3 class="university theme-color">University of California, Berkeley</h3>
        <h4 class="year">2018 - 2022 (Expected) </h4>
    </div>
</div>
