<div class="container">
    <h3 class="section-heading text-center "> Portfolio </h3>

        <h5> To access the source code of my course projects, please email me at priyansdesai@berkeley.edu. My web portfolio can also be found on bit.ly/priyanswebportfolio </h5>

    <div class="portfolioFilter">

        <a href="#" data-filter=".ee-proj"> Electrical Eng. Projects </a>
        <a href="#" data-filter=".course-proj">Course Projects</a>
        <a href="#" data-filter=".personal-proj">Personal Projects</a>
        <a href="#" data-filter=".data-sci">Data Science Projects</a>
        <a href="#" data-filter=".scripts"> Scripts </a>

    </div>

    <div class="portfolioContainer row" >

        {% for item in include.items %}

        <div class="card {{ item.class }} col-md-4 col-sm-6" id="portfolio-item">

            <img class="card-img-top img-fluid " src="{{ item.img }}" alt="Card image cap">
            <div class="card-body text-center ">
                <h4 class="card-title text-center ">{{ item.name }}</h4>
                <p class="card-text text-center ">{{ item.desc }}</p>
                <a href="{{ item.url }}" class="btn btn-primary text-center btn-sm text-center ">Source Code </a>
            </div>


        </div>

        {% endfor %}


    </div>

</div>